#  Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages in Data Science
- Create a table
- Evaluate arithmetic expressions

## Author
Kelvin Pompey

###  Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Julia

| Data Science Tools |
| ------------------ |
| MySQL |
| Apache Airflow |
| Pixie Dust |
| GitHub |

###  Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
(3*4)+5

17

In [7]:
#  This will convert 200 minutes to hours
200/60

3.3333333333333335